
<aside class="sidebar__right sticky">
    <nav class="toc-custom">

        <div class="container" style="width: auto;" >
            <b style="float: right;">Featured Projects</b>

            <br><hr>

            <a href="https://github.com/ArkimCity/JPA.miniproject"><img src="/assets/images/JPA_COVID_CHART.PNG" alt="JCC" style="width: 100%; max-width: 350px; height: auto;"><a><br>
            <button class="btn" onclick="location.href = 'https://github.com/ArkimCity/JPA.miniproject'" style="float: left; 
            transform: translate(-0%, -50%);
            -ms-transform: translate(-50%, -50%);
            background-color: #555;
            color: white;
            font-size: 12px;
            padding: 6px 12px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;">Project1_COVID</button>

            <br><br>
        
            <a href="https://github.com/ArkimCity/jdbc.miniproject"><img src="/assets/images/JDBC_MARKET_MAP.PNG" alt="JCC" style="width: 100%; max-width: 350px; height: auto;"><a><br>
            <button class="btn" onclick="location.href = 'https://github.com/ArkimCity/jdbc.miniproject'" style="float: left; 
            
            transform: translate(-0%, -50%);
            -ms-transform: translate(-50%, -50%);
            background-color: #555;
            color: white;
            font-size: 12px;
            padding: 6px 12px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;">Project2_MARKET</button>

            <br><hr>

            <a href="https://github.com/ArkimCity/Star-Collector"><img src="https://user-images.githubusercontent.com/17983434/103252519-8fcc2000-49c0-11eb-8812-8875ef722830.gif" alt="JCC" style="width: 100%; max-width: 350px; height: auto;"><a><br>
                <button class="btn" onclick="location.href = 'https://github.com/ArkimCity/Star-Collector'" style="float: left; 
                
                transform: translate(-0%, -50%);
                -ms-transform: translate(-50%, -50%);
                background-color: #555;
                color: white;
                font-size: 12px;
                padding: 6px 12px;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                text-align: center;">BrainStorm Helper</button>

            <br><hr>
           
        </div>
    </nav>
</aside>