<aside class="sidebar__right sticky">
    <nav class="toc-custom">
        <div class="container" style="width: auto;">
            <b style="float: right;">Featured Projects</b>
            <br>
            <hr>
            <a href="https://github.com/city-assistant/home-finder">
            <img src="https://github.com/city-assistant/home-finder/raw/main/home-finder%20e8c139eba89f4571961b32306766cdb1/homefinder_search_(2).gif" alt="JCC" style="width: 100%; max-width: 350px; height: auto;"><a><br>
                    <button class="btn" onclick="location.href = 'https://github.com/ArkimCity/Star-Collector'" style="float: left; 
                            transform: translate(-0%, -50%);
                            -ms-transform: translate(-50%, -50%);
                            background-color: #555;
                            color: white;
                            font-size: 12px;
                            padding: 6px 12px;
                            border: none;
                            cursor: pointer;
                            border-radius: 5px;
                            text-align: center;">Destination Based Rent Search</button>
            <br><br>
                        <a href="https://github.com/ArkimCity/htf-backend">
            <img src="https://github.com/ArkimCity/htf-backend/raw/main/Home%20Tech%20Friends%20209d35adf5e44d79aa1fd297c8f8fc8d/htf-structure.png" alt="JCC" style="width: 100%; max-width: 350px; height: auto;"><a><br>
                    <button class="btn" onclick="location.href = 'https://github.com/ArkimCity/Star-Collector'" style="float: left; 
                            transform: translate(-0%, -50%);
                            -ms-transform: translate(-50%, -50%);
                            background-color: #555;
                            color: white;
                            font-size: 12px;
                            padding: 6px 12px;
                            border: none;
                            cursor: pointer;
                            border-radius: 5px;
                            text-align: center;">IoT Project</button>
            <br>
            <hr>
            <a href="https://github.com/ArkimCity/Star-Collector">
            <img src="https://user-images.githubusercontent.com/17983434/103330375-9338d780-4aa4-11eb-9a92-79b801182ae9.gif" alt="JCC" style="width: 100%; max-width: 350px; height: auto;"><a><br>
                    <button class="btn" onclick="location.href = 'https://github.com/ArkimCity/Star-Collector'" style="float: left; 
                            transform: translate(-0%, -50%);
                            -ms-transform: translate(-50%, -50%);
                            background-color: #555;
                            color: white;
                            font-size: 12px;
                            padding: 6px 12px;
                            border: none;
                            cursor: pointer;
                            border-radius: 5px;
                            text-align: center;">BrainStorm Helper</button>
            <br>
            <hr>
            <a href="https://github.com/ArkimCity/JPA.miniproject"><img src="/assets/images/JPA_COVID_CHART.PNG"
                    alt="JCC" style="width: 100%; max-width: 350px; height: auto;"><a><br>
                    <button class="btn" onclick="location.href = 'https://github.com/ArkimCity/JPA.miniproject'"
                        style="float: left; 
                    transform: translate(-0%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    background-color: #555;
                    color: white;
                    font-size: 12px;
                    padding: 6px 12px;
                    border: none;
                    cursor: pointer;
                    border-radius: 5px;
                    text-align: center;">Project1_COVID</button>

                    <br><br>
                    <a href="https://github.com/ArkimCity/jdbc.miniproject"><img
                            src="/assets/images/JDBC_MARKET_MAP.PNG" alt="JCC"
                            style="width: 100%; max-width: 350px; height: auto;"><a><br>
                            <button class="btn"
                                onclick="location.href = 'https://github.com/ArkimCity/jdbc.miniproject'" style="float: left; 
    
                    transform: translate(-0%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    background-color: #555;
                    color: white;
                    font-size: 12px;
                    padding: 6px 12px;
                    border: none;
                    cursor: pointer;
                    border-radius: 5px;
                    text-align: center;">Project2_MARKET</button>
            <br>
            <hr>

        </div>
    </nav>
</aside>